@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-size: 100%;
  box-sizing: border-box;
}

@layer components {
  .icon-green {
    @apply

    rounded-full
    border-4
    p-2      
    border-ng-green 
    flex 
    items-center
    text-xl
    text-white
  }

  .icon-pink {
    @apply 

    rounded-full
    border-4
    p-2      
    border-ng-pink 
    flex 
    items-center
    text-xl
    text-white

  }

  .icon-red {
    @apply

    rounded-full
    border-4
    p-2      
    border-red-600
    flex 
    items-center
    text-xl
    text-white
  }

  .link-white {
    @apply
    
    text-sm 
    text-white 
    font-medium
  }

  .link-pink {
    @apply
    
    text-sm 
    text-ng-pink
    font-medium
  }

  .able-green-btn {
    @apply 

    btn 
    btn-active 
    bg-ng-green
    w-full
    text-xl
    font-bold
    text-slate-200    
  }

  .disable-green-btn {
    @apply 

    btn 
    btn-active 
    bg-green-300
    w-full
    text-xl
    font-bold
    text-slate-200    
  }

  .hidden-transfer-alert {
    @apply

    bg-ng-green
    p-2
    rounded-md
    font-semibold
    text-center
    hidden
  }

  .show-transfer-alert {
    @apply

    bg-ng-green
    p-2
    rounded-md
    font-semibold
    text-center    
  }

  .hidden-signin-btn {
    @apply

    btn
    btn-active
    bg-ng-pink
    text-xl
    font-bold
    text-white
    hidden
  }

  .show-signin-btn {
    @apply

    btn
    btn-active
    bg-ng-pink
    text-xl
    font-bold
    text-white
  }

}
